doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width")
		title Ya Zabil
	body
		#main_calendar
		#footer
		//bower:js
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/moment/moment.js')
		script(src='../bower_components/clndr/clndr.min.js')
		//endbower

